html, body, div, span,
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

html, body {
  background-color: #1c1c21;
  overflow-y: hidden;
  height: 100vh;
  font-family: "Montserrat";
}


.scroll-snapping {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

h1 {
	scroll-snap-align: center;
  font-family: "Montserrat";
  font-size: 3vmax;
  background-image:linear-gradient(45deg,#dc1434,#800068);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
	padding: 3vw;
	border-radius: 3vw;
	box-shadow:  20px 20px 60px #121215,
             	-20px -20px 60px #26262d;
}

h2 {
  font-size: 6vmin;
  color: #1c1c21;
	background-image:linear-gradient(45deg,#dc1434,#800068);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#bigger {
  font-size: 7vmax;
	line-height: 6vmax;
}

#highlight-c {
  background-image:linear-gradient(45deg,#dc1434,#800068);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#highlight-b, #bigger {
  background-color: #F3E9DC;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.full-screen {
  max-width: 100%;
	max-height: 100%;
  justify-content: center;
  align-content: center;
}

.centered {
  width: 80%;
  margin: auto;
  padding: 30vh 0;
}

.paragraph {
  padding: 15vmin 10vmax 15vmin 10vmax;
	margin: auto;
}


#Introduction {
  background-color: #1c1c21;
}

#Introduction2 {
  background-color: #1c1c21;
}

.full-card {
	height: calc(100% - 6vw);
	width: calc(100% - 6vw);
	margin: 3vw;
	border-radius: 3vw;
	box-shadow:  20px 20px 60px #121215,
							-20px -20px 60px #26262d;
	position: relative;
	display: block;
	scroll-snap-align: center;
}

.arrow-button-r {
	height: 3vmax;
	width: 3vmax;
	padding: 1.5vmax;
	border-radius: 3vmax;
	box-shadow:  20px 20px 60px #121215,
             	-20px -20px 60px #26262d;
	position: absolute;
	z-index: 100;
	right: 1.5vw;
	top: calc(40vh - 2vmax);
}

.arrow-button-r:active {
	box-shadow: inset 20px 20px 60px #121215,
            inset -20px -20px 60px #26262d;
}

.arrow-button-l {
	height: 3vmax;
	width: 3vmax;
	padding: 1.5vmax;
	border-radius: 3vmax;
	box-shadow:  20px 20px 60px #121215,
             	-20px -20px 60px #26262d;
	position: absolute;
	z-index: 100;
	left: 1.5vw;
	top: calc(40vh - 2vmax);
}

.arrow-button-l:active {
	box-shadow: inset 20px 20px 60px #121215,
            inset -20px -20px 60px #26262d;
}

.arrow-picture-r {
	height: 3vmax;
	width: 3vmax;
}

.arrow-picture-l {
	transform: rotate(180deg);
	height: 3vmax;
	width: 3vmax;
}
